body {
    background-color: aqua;
    padding:2px;
}

.abc img{
    height: 90vh;
    width: 30vh;
}
.navbar.scrolled{
    background-color: #fff;
    }
    .container{
        padding-top: 8%;
    }
